{% extends '--main.html' %}
{% load static %}

{% block title %}Условия оплаты{% endblock %}
{% block c-styles %}
<link rel="stylesheet" href="{% static 'styles/privacy-&-terms.css' %}">
{% endblock %}
{% block sections %}
<section class="payment privacy-&-terms">
   <div class="section-note"><p>Додаток № 2 “Політика оплати” до Договору надання послуг прокату електросамокату в редакції від 26.07.2024</p></div>
   <h2 class="section-name ta-c">РОЗМІР, ПОРЯДОК І ФОРМА ОПЛАТИ ПРОКАТУ</h2>
   <div class="subsection not-indent">
      <p>За отримання послуг Прокату Електросамоката Наймач сплачує Наймодавцю плату.</p>
      <p>Балансовий рахунок Наймач поповнює шляхом перенаправлення на сайт платіжної системи, де Наймач вводить дані своєї дійсної банківської карти та виконує інші вимоги для поповнення Балансового рахунку в сервісі “ROOH UA”.</p>
      <p>Розмір плати за Договором визначається Тарифами, які вказані нижче та відображаються в Мобільному додатку, на Веб-сайті. Наймач усвідомлює та погоджуються, що Розмір плати є динамічним та може змінюватись Наймодавцем в односторонньому порядку, а також збільшуватися в залежності від тривалості Сесії прокату.</p>
      <p>Наймач зобов’язаний ознайомитися з Тарифами до початку Сесії прокату. </p>
      <p>Проведення розрахунків за Договором здійснюється у безготівковій формі, без особистого контакту Наймача та Наймодавця, виключно за допомогою банківських систем дистанційного обслуговування та/або сервісу переказу коштів, Наймодавець за місцем надання Послуг прокату не здійснює прийом від Наймача готівки, платіжних карток, платіжних чеків, жетонів тощо.</p>
      <p>Оплата послуг Прокату Електросамоката здійснюється виключно за рахунок авансових коштів, що відображаються на Балансовому рахунку. </p>
      <p>Авансові кошти, що відображаються на Балансовому рахунку (позитивний баланс), вносяться шляхом Безакцептного списання з карткового рахунку Наймача на користь Наймодавця безпосередньо до та/або під час Сесії Прокату. Наймач має право отримувати послуги Прокату Електросамокату тільки за умови позитивного Балансового рахунку, достатнього для отримання послуг у замовленому обсязі відповідно до Тарифу. </p>
      <p>Безпосередньо до початку Сесії Прокату з Балансового рахунку знімаються грошові кошти у фіксованому розмірі, визначеному чинним Тарифом. У разі недостатності грошових коштів для зняття фіксованого розміру (негативний баланс), відбувається попереднє поповнення Балансового рахунку шляхом Безакцептного списання з карткового рахунку Наймача решти. </p>
      <p>Із метою забезпечення позитивного балансу протягом усієї Сесії прокату з Балансового рахунку можуть періодично продовжувати зніматися грошові кошти у фіксованому розмірі, визначеному чинним Тарифом. Кількість зняття з Балансового рахунку грошових коштів у фіксованому розмірі, визначеному чинним Тарифом, залежить від тривалості Сесії прокату. </p>
      <p>Наймач має право використовувати залишок грошових коштів, що відображені на Балансовому рахунку, після завершення попередньої Сесії прокату, для отримання послуг за цим Договором у рамках наступної Сесії прокату. У випадку, якщо Наймач бажає повернути залишок грошових коштів із Балансового рахунку після закінчення Сесії прокату, він має право звернутися до Наймодавця за допомогою телефону, розміщеного у Мобільному додатку або на Електросамокаті, після чого повернення залишку відбувається протягом 14 (чотирнадцяти) банківських днів. </p>
      <p>Приєднанням до Договору Наймач надає згоду на Безакцептне списання будь-яких грошових коштів (авансової плати за Прокат, штрафу, збитків тощо), передбачених цим Договором, додатками до нього та законодавством України. Належні Наймодавцю кошти можуть бути Безакцептно списані з карткового рахунку Наймача на розсуд Наймодавця як за допомогою однієї транзакції на повну вартість послуги Прокату, так і за допомогою декількох. </p>
      <p>Наймач зобов’язаний стежити за станом свого Балансового та карткового рахунків і не допускати негативного балансу, з метою уникнення припинення надання послуг Прокату та/або розірвання Договору зі сторони Наймодавця.</p>
      <p>Наймач зобов’язується самостійно відслідковувати всі проведені оплати за Договором. </p>
      <p>Наймач зобов’язується самостійно забезпечити через банк-емітент банківської карти підключення послуги sms-інформування про списання з банківської карти грошових коштів за цим Договором, самостійно відстежувати зазначені списання, а також зберігати дані оплат. Наймодавець (уповноважена ним особа) має право повідомити Наймача про факт списання грошових коштів за цим Договором.</p>
      <p>Наймачу забороняється прив’язувати банківську карту до Облікового запису в Мобільному додатку, в разі якщо по даній карті є заборгованість в рамках іншого Облікового запису в Мобільному додатку. Наймач самостійно забезпечує дотримання зазначеної умови і несе передбачену Договором та законодавством відповідальність у разі його порушення.</p>
      <p>Наймодавець не має доступу до зазначених Наймачем даних карткового рахунку і не несе відповідальності за збереження і конфіденційність даних, що передаються під час проведення оплати через систему дистанційного обслуговування та/або сервіс переказу коштів. </p>
      <p>Можливість здійснення безготівкових інтернет-платежів та ініціювання Наймачем переказу грошових коштів за допомогою банківських систем дистанційного обслуговування та/або сервісів переказу коштів забезпечується Наймачем самостійно. </p>
      <p>У разі помилкового списання грошових коштів, Наймач вправі звернутися до Наймодавця за телефоном підтримки з наданням документів, що підтверджують помилкове списання. </p>
      <p>Оскарження списаних грошових коштів повинні бути представлені Наймодавцю в письмовому вигляді протягом 7 (семи) календарних днів з моменту стягнення плати. Претензії Наймача, висунуті після спливу зазначеного строку, вважаються безпідставними, необґрунтованими та не розглядаються Наймодавцем. </p>
      <p>Сторони погодили, що Наймач не має право видаляти прив’язану банківську картку в Мобільному додатку до моменту повного погашення заборгованості перед Наймодавцем за цим Договором. Наймодавець вправі через Мобільний додаток обмежити можливість Наймача видалити прив’язану банківську картку в Мобільному додатку.</p>
   </div>
   <div class="subsection" id="rules_tariffs">
      <b>Тарифи за отримання послуг Прокату Електросамоката:</b>
      <p class="indent">1. Вартість розблокування Електросамокату для початку поїздки - 9,00 (дев’ять) гривень.</p>
      <p class="indent">2. При додаванні реквізитів банківської картки Наймача в платіжній системі такою платіжною системою блокується 1 (одна) гривня, яка після перевірки банківської картки на предмет її дійсності повертається автоматично Наймачу.</p>
      <p class="indent">3. Для початку прокату Електросамокату Балансовий рахунок Наймача має бути поповнений на суму в розмірі 50,00 (п’ятдесят) гривень шляхом безакцептного списання з карткового рахунку Наймача, зазначеного в особистому кабінеті Мобільного додатку, грошових коштів учасником платіжної системи (сервісом переказу коштів). </p>
      <p>3. За подальше користування Електросамокатом:</p>
      <p>3.1. вартість кожної хвилини користування Електросамокатом - 3,50 (три гривні 50 коп.) гривень.</p>
      <p>3.3. Тариф може змінюватися під час акцій та спеціальних пропозицій Наймодавця і буде відображений у Мобільному додатку у вікні “Розблокування самокату”.</p>
      <p>3.4. Якщо під час Сесії прокату на Балансовому рахунку Наймача в Мобільному додатку залишиться сума 10,00 гривень, учасник платіжної системи (сервіс переказу коштів) здійснює повторне автоматичне безакцептне списання грошових коштів із карткового рахунку Наймача, зазначеного в особистому кабінеті Мобільного додатку, у розмірі 50,00 (п’ятдесят) гривень. </p>
      <p class="indent">5. На період Стоянки Сесія прокату не закінчується, а розмір плати стягується Наймодавцем відповідно до Тарифу, встановленого Наймодавцем у Мобільному додатку згідно з тією редакцією (-ціями) Договору та додатків до нього, що діють на початок кожної Сесії прокату Електросамоката.</p>
   </div>
   <div class="subsection not-indent">
      <b>РЕКВІЗИТИ НАЙМОДАВЦЯ</b>
      <p class="indent">ФОП Ярошенко Ірина Володимирівна</p>
      <p class="indent">РНОКПП 3206219947</p>
      <p class="indent">Адреса: 36003, Україна, 36003, Полтавська обл., місто Полтава, вул. Ляхова 10</p>
      <p class="indent">IBAN: UA163220010000026000340068127</p>
   </div>
</section>
{% endblock %}

{% block c-scripts %}
{% endblock %}