{% extends '--main.html' %}
{% load static %}

{% block title %}Політика конфіденційності{% endblock %}
{% block c-styles %}
<link rel="stylesheet" href="{% static 'styles/privacy-&-terms.css' %}">
{% endblock %}
{% block sections %}
<section class="privacy privacy-&-terms">
   <div class="section-note"><p>Додаток № 4 “Політика конфіденційності” до Договору надання послуг прокату електросамокату в редакції від 26.07.2024</p></div>
   <h2 class="section-name ta-c">Політика конфіденційності та захисту персональних даних від 26.07.2024</h2>
   <div class="subsection active">
      Терміни цієї Політики вживаються у значенні, що вказані в Договорі надання послуг прокату електросамокату (далі — Договір) та «Загальних Правилах та умовах використання електросамокатів ROOH» (додаток № 3 до Договору), викладених у Мобільному додатку та на Веб-сайті.
      <p>Користувачем є будь-яка особа, яка має намір укласти Договір або вже уклала Договір із Наймодавцем і на яку поширюється дія Політики.</p>
      <p>Політика покликана надати користувачам обізнаність із питань:</p>
      <p>- &nbsp;&nbsp; порядок зберігання та обробки персональних даних Користувача;</p>
      <p>- &nbsp;&nbsp; основні види персональних даних, які збираються, обробляються та зберігаються Наймодавцем;</p>
      <p>- &nbsp;&nbsp; необхідність збирання персональних даних Користувача.</p>
      <p>Персональні дані Користувача підлягають обробці у зв’язку з та з метою укладення та виконання Договору (підстава обробки персональних даних), стороною якого є Користувач, та здійснення інших супутніх, підготовчих заходів щодо укладення Договору та згідно з підставами та можливостями, визначеними чинним законодавством України.</p>
      <p>Авторизація в Мобільному додатку, створення Облікового запису, отримання послуг прокату за Договором, користування Мобільним додатком та Веб-сайтом буде розглядатися як однозначна згода Користувача з цією Політикою конфіденційності та захисту персональних даних (далі — Політика). Якщо в Користувача є які-небудь питання про те, як Наймодавець обробляє персональні дані Користувача, Користувач має право звернутися до Наймодавця за номерами телефонів, зазначених у Мобільному додатку та на Веб-сайті.</p>
   </div>
   <div class="subsection">
      <b>1. Дія Політики</b>
      <p>1.1 &nbsp;&nbsp;Дія Політики поширюється на користувачів послуг прокату, користувачів Мобільного додатку (системи ROOH UA) та Веб-сайту. </p>
      <p>1.2 &nbsp;&nbsp;Ця Політика діє відносно всієї інформації, яку Наймодавець отримує про Користувача та обробляє в процесі реєстрації, авторизації та іншого використання Мобільного додатку та Веб-сайту, з метою прямого та/або опосередкованого ідентифікування особи Користувача, для отримання послуг за Договором тощо.</p>
      <p>1.3 &nbsp;&nbsp;Виражена у відповідності до цієї Політики згода Користувача на обробку наданих ним Наймодавцю персональних даних та іншої інформації, вважається одночасно наданою Користувачем зазначеним в Політиці третім особам, які залучаються або можуть залучатися Наймодавцем для сприяння у виконанні умов Договору тощо. Використання Мобільного додатку та Веб-сайту (в тому числі, здійснення Користувачем реєстрації, авторизації) означає беззастережну згоду Користувача з Політикою і всіма зазначеними в ній умовами обробки його персональних даних та іншої інформації; у разі незгоди з Політикою і всіма її умовами Користувач повинен утриматися від використання Мобільного додатку та Веб-сайту.</p>
      <p>1.4 &nbsp;&nbsp;Користувач має право отримати інформацію про умови надання доступу до своїх персональних даних, інформацію про третіх осіб, яким передаються та які обробляють його персональні дані.</p>
   </div>
   <div class="subsection">
      <b>2. Мета обробки персональних даних.</b>
      <p>2.1  &nbsp;&nbsp;Наймодавець має право використовувати інформацію, персональні дані та інші відомості, що надані Користувачем та/або третіми особами, з такою метою:
      <p>2.1.1  &nbsp;&nbsp;авторизації Користувача в Мобільному додатку та створення облікового запису в Мобільному додатку;
      <p>2.1.2  &nbsp;&nbsp;укладання та виконання Договору;
      <p>2.1.3  &nbsp;&nbsp;надання Користувачу послуг прокату Електросамокату;
      <p>2.1.4  &nbsp;&nbsp;включення персональних даних Користувача до бази персональних даних користувачів послуг Наймодавця;
      <p>2.1.5  &nbsp;&nbsp;обробки запитів, звернень, претензій Користувача Наймодавцем або уповноваженими ним особами та обробки запитів, звернень, претензій третіх осіб до Наймодавця у зв’язку з отриманням Користувачем послуг за Договором;
      <p>2.1.6  &nbsp;&nbsp;аналізу і дослідження можливостей поліпшення сервісу (надання Послуг прокату за Договором, функціонування та використання користувачами Мобільного додатку, Веб-сайту);
      <p>2.1.6  &nbsp;&nbsp;розсилки новин та інформації про продукти, послуги, спеціальні пропозиції (в т. ч. через телефонні дзвінки, SMS-повідомлення, електронну пошту і push-повідомлення); розсилки службових повідомлень;
      <p>2.1.7  &nbsp;&nbsp;запобігання та виявлення шахрайства та незаконного використання системи;
      <p>2.1.8  &nbsp;&nbsp;проведення статистичних та інших досліджень.
   </div>
   <div class="subsection">
      <b>3. Джерела та засоби збирання персональних даних.</b>
      <p class="indent">3.1  &nbsp;&nbsp;Наймодавець збирає відомості:
      <p class="indent">3.1.1  &nbsp;&nbsp;При реєстрації, авторизації Користувача, а також при використанні Мобільного додатку, здійсненні оплат, виконанні Користувачем і Наймодавцем інших умов Договору, проведенні опитувань, розсилці інформаційних і рекламних повідомлень тощо, Наймодавець може запросити в Користувача та/або отримати автоматично таку інформацію про Користувача:
      <p>- &nbsp;&nbsp; прізвище, ім’я, по батькові, рік, місяць, дату і місце народження, стать, паспортні дані, номер мобільного телефону, адресу електронної пошти, адресу реєстрації/фактичний (поштовий) адрес, інформацію про логін та пароль для доступу до окремих функцій Веб-сайту, Мобільного додатку (система ROOH UA), дані водійського посвідчення, дані про наявність або відсутність медичних протипоказань для користування послугами прокату Електросамокату, дані про місце роботи, посади, контрольну інформацію, історію користування системою ROOH (інформацію про кількість, вартість, часу і порядку здійснених Користувачами замовлень на послуги прокату і їх оплаті, в тому числі дані про банківський рахунок і/або банківську картку), інформацію про участь в рекламних акціях, інформацію про підписку на інформаційну розсилку або матеріали служби підтримки), реквізити банку для повернення грошових коштів, а також інші персональні дані та інформація;
      <p class="indent">3.1.2  &nbsp;&nbsp;Створені Користувачем під час отримання послуг прокату:
      <p>- &nbsp;&nbsp; інформація, яка автоматично передається Наймодавцю у процесі використання системи за допомогою встановленого на Мобільному пристрої Користувача Мобільного додатку, в тому числі IP-адреса, інформація з cookie і tracking bugs, інформація про країну та (або) місцезнаходження Користувача, інформація про Інтернет-браузер Користувача (або іншої програми, за допомогою якої здійснюється доступ до системи), час доступу, адреса запитуваної сторінки про пристрої Користувача, за допомогою яких здійснюється доступ до системи; дані про місцезнаходження, використання Мобільного додатку та Мобільного пристрою;
      <p>- &nbsp;&nbsp; відомості, отримані від контрагентів, партнерів Наймодавця з метою перевірки особи Користувача та його Персональних даних, за допомогою яких Користувач створює або входить в облікові записи Мобільного додатку, наприклад, через соціальні мережі, мобільні додатки або веб-сайти, які використовують API ROOH UA або API яких використовує ROOH UA.
      <p class="indent">3.1.3  &nbsp;&nbsp;Відкриті джерела. Наймодавець має право поєднувати дані, зібрані з відкритих джерел, з іншою інформацією.
   </div>
   <div class="subsection">
      <b>4. Використання інформації та персональних даних.</b>
      <p class="indent">4.1 Наймодавець збирає та використовує персональні дані виключно на підставах, у межах та у спосіб, визначений Договором та цією Політикою, а саме:</p>
      <p>– &nbsp;&nbsp; надання Користувачу послуг за Договором, включаючи створення та оновлення Облікового запису Користувача, управління Обліковим записом та історією поїздок;</p>
      <p>– &nbsp;&nbsp; відстеження та обслуговування Електросамокатів, у тому числі, у процесі використання;</p>
      <p>– &nbsp;&nbsp; оптимізація, розвиток та вдосконалення системи ROOH UA. Для цього Наймодавець може скористатися сторонніми компаніями, які проводять аналітику, щоб зрозуміти, як використовується система ROOH UA, і щоб допомогти Наймодавцю покращити послуги;</p>
      <p>– &nbsp;&nbsp; відстеження оплати, передплати та будь-які знижки або спеціальні пропозиції, такі як безкоштовні розблокування Електросамокатів, спеціальні пропозиції за паркування Електросамокатів у визначених місцях тощо;</p>
      <p>– &nbsp;&nbsp; комунікація з Користувачем стосовно Облікового запису, взаємодій або транзакцій, включаючи оголошення, пов’язані з системою ROOH UA, такі як зміни в Політиці. Наймодавець може також надсилати опитування чи маркетингові пропозиції, включаючи інформацію про функції та вдосконалення системи ROOH UA;</p>
      <p>– &nbsp;&nbsp; розгляд скарг, пов’язаних з наданням послуг;</p>
      <p>– &nbsp;&nbsp; стягнення та виставлення рахунків за користування Електросамокатами;</p>
      <p>– &nbsp;&nbsp; здійснення зворотного зв’язку з Користувачем;</p>
      <p>– &nbsp;&nbsp; виконання Наймодавцем зобов’язань за договором оренди Електросамокатів із безпосереднім власником таких Електросамокатів (у випадку, якщо Електросамокати використовуються Наймодавцем на підставі договору оренди), виконання інших зобов’язань, у тому числі, у відповідності до вимог законодавства та вимог місцевих нормативно-правових актів;</p>
      <p>– &nbsp;&nbsp; виявлення, розслідування та запобігання діяльності, яка може порушувати «Загальні Правила та умови використання електросамокатів ROOH» або бути незаконною, що може включати обмін інформацією з державними органами, такими як правоохоронні органи;</p>
      <p>– &nbsp;&nbsp; співпраця з третіми особами, такими як органи місцевого самоврядування.</p>
   </div>
   <div class="subsection">
      <b>5. Використання файлів cookie</b>
      <p class="indent">5.1 Cookie — це текстовий файл або файли, що містять невеликий обсяг інформації, які надсилаються веб-браузеру і зберігаються на пристрої користувача. До таких пристроїв можна віднести комп’ютер, мобільний телефон або інший пристрій, за допомогою якого Користувач відвідує Веб-cайт.</p>
      <p class="indent">5.2 Файли cookie можуть бути вічними (вони називаються постійними файлами cookie) і зберігатися в комп’ютері, поки користувач їх не видалить або тимчасовими (такі файли cookie називаються сесійними), тобто зберігаються тільки до закриття браузера. Крім того, файли cookie поділяються на основні (вони встановлюються безпосередньо відвідуваним Сайтом) і сторонні (встановлюються іншими веб-сайтами).</p>
      <p class="indent">5.3 Необхідно звернути увагу:</p>
      <p>-  &nbsp;&nbsp; відключення файлів cookie може призвести до обмеження доступу до опублікованих матеріалів та/або неповноцінного функціонування сервісів Мобільного додатку або Веб-Сайту, неможливості надання послуг прокату за Договором;</p>
      <p>-  &nbsp;&nbsp; у більшості випадків веб-браузер за замовчуванням допускає автоматичне зберігання файлів cookie на пристрої Користувача;</p>
      <p>-  &nbsp;&nbsp; при повторному відвідуванні Користувачем Веб-сайту дані файлів cookie оновлюються.</p>
      <p class="indent">5.4 Керуючись класифікацією Міжнародної торгової палати, використовуються такі категорії файлів cookie:</p>
      <p>-  &nbsp;&nbsp; необхідні файли cookie — потрібні для пересування Користувачем по веб-сторінці і при використанні певних сервісів, наприклад, для доступу до захищених сторінок, реєстрації та авторизації, здійснення пошуку по Веб-сайту; </p>
      <p>-  &nbsp;&nbsp; експлуатаційні файли cookie — агрегують інформацію про те, як використовується Веб-сайт;</p>
      <p>-  &nbsp;&nbsp; функціональні файли cookie — використовуються для збереження параметрів або конфігурацій, які зберігаються на пристрої користувача між сеансами веб-браузера;</p>
      <p>-  &nbsp;&nbsp; Цільові файли cookie - використовуються для надання контенту, який може зацікавити користувача. </p>
      <p class="indent">5.5 Веб-сайт може ділитися цією інформацією з іншими сторонами, включаючи медіа-клієнтів, рекламодавців, агентства і партнерів по суміжних бізнесах для того, щоб вони надавали якісну таргетовану рекламу.</p>
      <p class="indent">5.6 Для оперативної доставки, більш якісного відображення і детального аналізу контенту на Веб-сайті, Наймодавець має право користуватись послугами, які є власністю інших компаній, таких як Facebook, Twitter, Instagram, TikTok, Alphabet Inc., Gemius та інші.</p>
   </div>
   <div class="subsection">
      <b>6. Умови доступу до персональних даних. Зберігання та поширення персональних даних </b>
      <p class="indent">6.1 Наймодавець на підставі згоди Користувача, висловленої шляхом приєднання до Договору та цієї Політики, може поширювати зібрані персональні дані в зазначених далі випадках:</p>
      <p class="indent">6.1.1 Наймодавець може поширювати персональні дані Користувача для надання відповідей на публічні питання або коментарі Користувача.</p>
      <p class="indent">6.1.2 Наймодавець може передавати персональні дані Користувача таким третім особам із метою належного та якісного виконання Договору, надання послуг прокату та дотримання вимог чинного законодавства:</p>
      <p>-  &nbsp;&nbsp; учасникам платіжної системи (сервісу переказу коштів);</p>
      <p>-  &nbsp;&nbsp; страховикам;</p>
      <p>-  &nbsp;&nbsp; постачальникам інших послуг, у тому числі, рекламних/маркетингових, які отримує Наймодавець для укладення та виконання Договору;</p>
      <p>-  &nbsp;&nbsp; власнику електросамокатів, юристам, бухгалтерам та іншим спеціалістам, які співпрацюють із Наймодавцем на договірних засадах або перебувають у трудових правовідносинах, із метою забезпечення виконання Договору.</p>
      <p class="indent">6.1.3 Наймодавець може передавати персональні дані Користувача органам державної влади, правоохоронним органам та органами місцевого самоврядування, якщо це вимагається чинним законодавством України.</p>
      <p class="indent">6.2 Про кожну передачу персональних даних третій особі Наймодавець не повідомляє та не зобов’язаний повідомляти Користувача, за винятком випадків, встановлених законом.</p>
      <p class="indent">6.3 Наймодавець використовує загальноприйняті стандарти технологічного та операційного захисту інформації та персональних даних від втрати, неправильного використання, зміни або знищення.</p>
      <p class="indent">6.4 Наймодавець забезпечує захист цих даних від випадкових втрати або знищення, від незаконної обробки, у тому числі незаконного знищення чи доступу до персональних даних. Разом із тим, Наймодавець не може гарантувати абсолютну захищеність від будь-яких загроз, що виникають поза межами регулювання та розумного контролю Наймодавця.</p>
      <p class="indent">6.5 Наймодавець забезпечує застосування всіх відповідних заходів щодо дотримання конфіденційності, а також технічних і організаційних заходів безпеки для запобігання несанкціонованому або незаконному розголошенню або обробці такої інформації та персональних даних, їх випадкової втрати, знищення або пошкодження.</p>
      <p class="indent">6.6 Наймодавець може надавати змогу Користувачу налаштовувати або оновлювати параметри надання окремих даних та отримання мобільних сповіщень від Наймодавця через технічні пристрої.</p>
      <p class="indent">6.7 Мобільний додаток та Веб-сайт можуть посилатися на зовнішні сайти, якими Наймодавець не керує, не контролює контент і дії цих сайтів і не може нести відповідальність за їх відповідні політики конфіденційності.</p>
   </div>
   <div class="subsection">
      <b>7. Видалення інформації та персональних даних</b>
      <p class="indent">7.1 Після того, як особа перестала бути Користувачем Мобільного додатку шляхом видалення свого облікового запису протягом 5 років, його персональні дані видаляються.</p>
      <p class="indent">7.2 Наймодавець зберігає відомості та персональні дані Користувача протягом строку дії Договору та 5 років після припинення його дії.</p>
      <p class="indent">7.3 Видалення Облікового запису Користувача не є підставою для видалення або знищення персональних даних.</p>
      <p class="indent">7.4 Користувач має право направити обґрунтовану вимогу щодо зміни або видалення своїх персональних даних, якщо ці дані обробляються незаконно чи є недостовірними.</p>
      <p class="indent">7.5 Видалення або знищення персональних даних Користувача здійснюється також в інших випадках, встановлених законодавством України.</p>
      <p class="indent">7.6 Користувач має право відмовитися від запиту Наймодавця про надання своїх персональних даних, але при цьому Користувач повинен розуміти і погоджуватися, що Наймодавець може бути позбавлений можливості надавати послуги прокату за Договором у повному обсязі або частково.</p>
   </div>
   <div class="subsection">
      <b>8. Права Користувача, як суб’єкта персональних даних</b>
      <p>8.1 Особисті немайнові права на персональні дані, які має кожна фізична особа, є невід’ємними і непорушними.</p>
      <p>8.2 Користувач як суб’єкт персональних даних має право:</p>
      <p class="indent">1) знати про джерела збирання, місцезнаходження своїх персональних даних, мету їх обробки, місцезнаходження або місце проживання (перебування) володільця чи розпорядника персональних даних або дати відповідне доручення щодо отримання цієї інформації уповноваженим ним особам, крім випадків, встановлених законом;</p>
      <p class="indent">2) отримувати інформацію про умови надання доступу до персональних даних, зокрема інформацію про третіх осіб, яким передаються його персональні дані;</p>
      <p class="indent">3) на доступ до своїх персональних даних;</p>
      <p class="indent">4) отримувати не пізніш як за тридцять календарних днів із дня надходження запиту, крім випадків, передбачених законом, відповідь про те, чи обробляються його персональні дані, а також отримувати зміст таких персональних даних;</p>
      <p class="indent">5) пред’являти вмотивовану вимогу володільцю персональних даних із запереченням проти обробки своїх персональних даних;</p>
      <p class="indent">6) пред’являти вмотивовану вимогу щодо зміни або знищення своїх персональних даних будь-яким володільцем та розпорядником персональних даних, якщо ці дані обробляються незаконно чи є недостовірними;</p>
      <p class="indent">7) на захист своїх персональних даних від незаконної обробки та випадкової втрати, знищення, пошкодження у зв'язку з умисним приховуванням, ненаданням чи несвоєчасним їх наданням, а також на захист від надання відомостей, що є недостовірними чи ганьблять честь, гідність та ділову репутацію фізичної особи;</p>
      <p class="indent">8) звертатися зі скаргами на обробку своїх персональних даних до Уповноваженого Верховної Ради з прав людини або до суду;</p>
      <p class="indent">9) застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних;</p>
      <p class="indent">10) вносити застереження стосовно обмеження права на обробку своїх персональних даних під час надання згоди;</p>
      <p class="indent">11) відкликати згоду на обробку персональних даних;</p>
      <p class="indent">12) знати механізм автоматичної обробки персональних даних;</p>
      <p class="indent">13) на захист від автоматизованого рішення, яке має для нього правові наслідки.</p>
   </div>
   <div class="subsection">
      <b>9. Зміна Політики</b>
      <p>9.1 До цієї Політики періодично та без попереднього повідомлення Користувача, можуть вноситись зміни та доповнення, у тому числі, при зміні вимог законодавства України. У випадку внесення істотних змін до цієї Політики Наймодавцем буде розміщено повідомлення на Веб-сайті та зазначено строк набрання цими змінами чинності. Якщо протягом зазначеного строку Користувач не відмовився від їх прийняття в письмовій формі, це означатиме, що Користувач погоджуєтеся з відповідними змінами Політики. </p>
      <p>9.2 Погоджуючись з умовами Політики, Користувач дає згоду на обробку персональних та інших даних своєю волею і в своєму інтересі.</p>
   </div>
   <div class="subsection not-indent">
      <b>10. РЕКВІЗИТИ НАЙМОДАВЦЯ</b>
      <p class="indent">ФОП Ярошенко Ірина Володимирівна</p>
      <p class="indent">РНОКПП 3206219947</p>
      <p class="indent">Адреса: 36003, Україна, 36003, Полтавська обл., місто Полтава, вул. Ляхова 10</p>
      <p class="indent">IBAN: UA163220010000026000340068127</p>
   </div>
</section>
{% endblock %}

{% block c-scripts %}
{% endblock %}